.filter-section {
  display: flex;
  flex-direction: column;
}
.filter {
  display: flex;
  flex-direction: row;
  @media(max-width: 479px) {
    flex-direction: column;
  }
  &__label {
    padding-right: 20px;
    //width: 165px;
    width: 18%;
    flex: 0 0 auto;
    @media(max-width: 479px) {
      width: 100%;
    }
  }
  &__content {
    padding-top: 6px;
    padding-left: 10px;
    width: 100%;
  }
  &__label-btn {
    position: relative;
    padding-left: 30px;
    border: 0;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    color: #67808d;
    &:hover,
    &:focus,
    &:active {
      color: #67808d;
      box-shadow: none;
    }
  }
  &__label-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #57778e;
    border-radius: 25px;
    left: 0;
    top: 5px;
    &:before,
    &:after {
      position: absolute;
      top: 8px;
      left: 4px;
      display: block;
      content: '';
      width: 10px;
      height: 2px;
      background: #fff;
      transition: all 500ms linear;
    }
    .collapsed &:before {
      transform: rotate(90deg);
      transition: all 300ms linear;
    }
  }
}

.btn-collapse {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 0;
  height: 30px;
  border: 0;
  background: transparent;
  font-size: 13px;
  font-weight: 600;
  color: #67808d;
  &:hover,
  &:focus,
  &:active {
    color: #67808d;
    box-shadow: none;
  }
  &__icon {
    position: relative;
    width: 18px;
    height: 18px;
    background: #57778e;
    border-radius: 25px;
    &:before,
    &:after {
      position: absolute;
      top: 8px;
      left: 4px;
      display: block;
      content: '';
      width: 10px;
      height: 2px;
      background: #fff;
      transition: all 500ms linear;
    }
    .collapsed &:before {
      transform: rotate(90deg);
      transition: all 300ms linear;
    }
  }
  &__txt {
    margin-left: 10px;
    border-bottom: 1px dotted transparent;
  }
  &__txt:hover {
    transition: all 300ms linear;
    border-bottom-color: #57778e;
  }
}

.filter-tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  width: auto;
  padding: 6px 8px 6px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 1em;
  border: 1px solid #e1e6e8;
  border-radius: 3px;
  background: #fff;
  box-shadow: 1px 1px 21px 4px rgba(0, 0, 0, .07);

  &__close {
    position: relative;
    display: inline-block;
    margin-left: 7px;
    padding: 0;
    width: 10px;
    height: 10px;
    background: transparent;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 10px;
      height: 2px;
      background: #57778e;
      transform-origin: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      top: 7px;
      transform: rotate(-45deg);
    }
    &,
    &:focus,
    &:active,
    &:hover {
      background: transparent;
      outline: none;
      box-shadow: none;
    }
  }
}

@import 'filter-form';