.filter-form {
  display: block;
  font-size: 13px;
  &__group {
    &._search {
      padding-right: 20px;
    }
  }
  &__label {
    font-size: 13px;
    font-weight: 600;
    color: #67808d;
  }
  &__input {
    width: 100%;
    display: block;
    &-search {
      height: 36px;
      padding-left: 45px;
      border: 1px solid #e1e6e8;
      box-shadow: 1px 1px 21px 4px rgba(0, 0, 0, .07);
      font-size: 13px;
      color: #86888a;
      background: url('%=static=%assets/search/filter/glass.png') 14px center no-repeat;
      &:focus {
        border-color: rgba(87, 119, 142, .5);
        box-shadow: 1px 1px 21px 4px rgba(87, 119, 142, .15)
      }
    }
  }
  &__section {
    border-bottom: 1px solid #eff3f5;
    padding: 10px 0;
  }

  &__section-header {
    padding-bottom: 20px;
    color: #67808d;
    font-weight: 600;
  }
  &__section-body {}
  &__collapse,
  &.collapse {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 80px;
    max-height: 80px;
    overflow: hidden;
    transition: all 400ms ease;
    &.collapsing,
    &.in {
      display: flex;
      max-height: 100%;
      transition: all 400ms ease;
    }
  }
  &__chkbx {
    display: flex;
    width: 32%;
    margin-bottom: 5px;

    &-label {
      position: relative;
      max-width: 220px;
      height: 30px;
      text-overflow: ellipsis;
      padding-left: 35px;
      font-size: 13px;
      font-weight: normal;
      color: #28373e;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #cdd1d4;
        border-radius: 2px;
        background-position: center center ;
      }
    }
    &-input {
      display: none;
      &:checked + .filter-form__chkbx-label {
        &:before {
          border-color: #57778e;
          background: url('%=static=%assets/search/filter/checked.png') center no-repeat  #57778e;
          transition: all 300ms ease;
        }
      }
    }
  }
}