// Common styles of the project

html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

.main{
    &-layout {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    &-content {
        display: flex;
        align-items: stretch;
        flex: 1 1 auto;
        @media (max-width: 991px) {
            display: block;
            width: 100%;
            min-height: 100%;
            align-items: flex-start;
            flex: 0 0 auto;
        }
    }
}
